button {
 width:120px; 
}
 #button-div { 
  display: none;
 align-items: 
 center; 
 justify-content: space-evenly; 
 position: relative; 
 bottom: 50px; 
 width:100%; 
 z-index: 1; 
 border: 2px 
 soild black; 
} 
.swal-icon img{ 
    width: 80px; 
    height: 80px; 
}